body {
  margin: 0;
  overflow: hidden;
}

#escena-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#botones-container {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
}

#fechaActual {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
